/* Extends para Reutilizar Estilos Comunes */

/* Estilo común de card */
%card-style {
    background-color: map-get($colors, light);
    border: 1px solid map-get($colors, gray);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para botones comunes */
%btn-base {
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
}