body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

main {
    flex: 1; 
}

footer {
    background: linear-gradient(135deg, map-get($colores, "color-primario"), map-get($colores, "color-secundario"));
    color: map-get($map: $colores, $key: blanco);
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
