nav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0;

        li {
            margin: 0 1.5rem;

            a {
                color: map-get($map: $colores, $key: blanco );
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s ease;

                &:hover {
                    color: map-get($map: $colores, $key: amarillo-hover );
                }
            }
        }
    }
}

main {
    padding: 2rem;
}