/* Responsive Design */
@media (max-width: 960px) {
    nav ul {
        flex-direction: column;
    }


    .productos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .carrito .item {
        flex-direction: column;
        text-align: center;
    }

    .carrito .item img {
        margin-bottom: 1rem;
    }
}

// Estilos para móviles
@media (max-width: 960px) {
    .menu-toggle {
        display: block !important;
    }

    nav {
        display: none;

        .menu-toggle-checkbox:checked ~ & {
            display: block;
        }

        ul {
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;

            li {
                margin: 0.5rem 0;
            }
        }
    }
}
