@media (max-width: 960px) {
    nav ul {
        flex-direction: column;
    }


    .productos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .carrito .item {
        flex-direction: column;
        text-align: center;
    }

    .carrito .item img {
        margin-bottom: 1rem;
    }
}

@media (max-width: 960px) {
    .menu-toggle {
        display: block !important;
    }

    nav {
        display: none;

        .menu-toggle-checkbox:checked ~ & {
            display: block;
        }

        ul {
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;

            li {
                margin: 0.5rem 0;
            }
        }
    }
}

@media (max-width: 768px) { 
    .payment-list {
        gap: 10px; 

        .payment-card {
            width: 80px;
            height: 60px;
        }
    }
}

@media (max-width: 750px) { 
    .payment-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .payment-list {
        gap: 8px;

        .payment-card {
            width: 60px;
            height: 50px;

            img {
                width: 90%;
            }
        }
    }
}


