*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: map-get($map: $colores, $key: blanco );
    color: map-get($map: $colores, $key: texto-principal );
}
